<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="injectionService" class="com.injection.service.InjectionServiceImpl">
		<!-- 注意name和InjectionServiceImpl中成员变量一致 -->
		<!-- <property name="injectionDao2" ref="injectionDao1"></property> -->
		<!-- 注意name和InjectionServiceImpl的构造器中参数一致 -->
		<constructor-arg name="injectionDao" ref="injectionDao1">
		</constructor-arg>
	</bean>

	<bean id="injectionDao1" class="com.injection.dao.InjectionDaoImpl"></bean>
</beans>